# Project exclude paths
/cmake-build-debug/
/cmake-build-release/
/cmake-build-debug-gcc/
/cmake-build-debug-clang/
/cmake-build-debug-intel/
/cmake-build-release-clang/
/cmake-build-release-gcc/
/cmake-build-release-intel/

.idea/

/build/
/build_profiler/
/bin/

/results
/data/random
/data/soc_raw
/data/soc
/data/complete

out.JSON.profiler.JSON

/venv
/cmake-build-debug-coverage/
/.vscode/
/package.zip
/ara_download/
/cmake-build-release-coverage/
/out.JSON
/out.JSON.statistic_profiler.JSON
